
#donnees_principales {
    margin-top: 20px;
}

#donnees_principales, #demandesEnCours{
    margin-top: 62px;
}

.formatedTitle {
    padding-top:8px; 
    padding-bottom:11px; 
    text-align:center
}

/*section*/
.card-shadow {
    background: white;
    box-shadow: 2px 2px 12px gray; 
    border-radius: 20px;
}