{% extends 'base.html.twig' %}

{% block title %}New Absence{% endblock %}

{% block body %}
    <h1 class="mt-5"> Renseigner une nouvelle absence ! </h1>

    {{ include('absence/_form.html.twig') }}

    <a href="{{ path('absence_index') }}">Revenir à la liste</a>
{% endblock %}
